<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ds6.dpc.fisc.utp.biblioteca">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AgregarActivity"
            android:label="Agregar Libro" />
        <activity
            android:name=".BuscarActivity"
            android:label="Buscar Libro" />
        <activity
            android:name=".EditarActivity"
            android:label="Editar Libro" />
        <activity
            android:name=".EliminarActivity"
            android:label="Eliminar Libro" />
        <activity
            android:name=".TodosLibrosActivity"
            android:label="Lista de Libros" />
        <activity android:name=".VerBackUpActivity"
            android:label="@string/Backup"></activity>
    </application>

</manifest>